importFrom("caret","confusionMatrix")
importFrom("fitdistrplus","fitdist")
importFrom("graphics","abline","axis","box","mtext","par","plot","points","text")
importFrom("grDevices","dev.off","n2mfrow")
importFrom("PTXQC","LCS")
importFrom("randomForest","randomForest")
importFrom("raster","calc","crop","crs","extent","getValues","intersect","nlayers","resample","mask","raster","reclassify","stack","overlay","predict","projectRaster","rasterize","rasterToPolygons","subset","text","Which")
importFrom("rgdal","readGDAL")
importFrom("RStoolbox","cloudMask","readMeta","stackMeta")
importFrom("stats","coef","lm","na.omit","predict.lm","quantile","qchisq","sd")
importFrom("utils","data","untar")
export(AccuPlot,AccuStats,calibrationParameters2,classesInPIF,commonExtent,conmatrixmerge,crossvalidsp,equateEEnames,EEstackMeta,EEstackWithoutMeta,lcupdate,maskfun,namaskplus,nochg2,PIFmodel,plot.PIFmodel,plot.sampleRaster,PredictFromPIFmodel,rasterCCA,RasterIntersection,rclMatrix,s3d,sampleRaster,smg,stack2df,stackmask,summary.PIFmodel,thresraster2,tmg,rclMatrix)
S3method(plot,PIFmodel)
S3method(plot,sampleRaster)
S3method(summary,PIFmodel)

